In [49]:
import pandas as pd
import pickle
from sklearn.metrics import confusion_matrix, mean_squared_error,accuracy_score

In [50]:

    data = pd.read_excel(r"C:\Users\HP\Desktop\ml project ms2\test_Script.csv")

In [51]:
data

,bathrooms,bedrooms,square_feet,latitude,longitude,cityname,state,source,RentCategory
0,2,1,1400,47.5,-102.1,Dallas,OR,RentLingo,Low Rent
1,3,3,1200,43.0,-67.1,Carry,NE,RentLingo,High Rent

In [52]:
    df = pd.read_csv(r"C:\Users\HP\Downloads\ApartmentRentPrediction_Milestone2.csv")

In [53]:
common_columns = df.columns.intersection(data.columns)
for col in df:
  if col not in common_columns  :
     df.drop(columns=col,inplace=True)

In [54]:
df = pd.DataFrame(df, columns=data.columns)

In [55]:
df

,bathrooms,bedrooms,square_feet,latitude,longitude,cityname,state,source,RentCategory
0,2.5,2.0,800,35.7585,-78.7783,Cary,NC,RentDigs.com,Medium-Priced Rent
1,1.0,1.0,795,43.0724,-89.4003,Madison,WI,RentLingo,Medium-Priced Rent
2,1.0,1.0,560,29.6533,-82.3656,Gainesville,FL,RentLingo,Medium-Priced Rent
3,1.0,1.0,600,41.2562,-96.0404,Omaha,NE,RentLingo,Low Rent
4,3.0,3.0,1600,34.0372,-118.2972,Los Angeles,CA,RentLingo,High Rent
...,...,...,...,...,...,...,...,...,...
8995,1.0,2.0,875,41.3498,-72.1062,New London,CT,RentDigs.com,Medium-Priced Rent
8996,1.0,1.0,824,47.5988,-122.1507,Bellevue,WA,RentLingo,High Rent
8997,1.0,2.0,844,43.7815,-88.4411,Fond Du Lac,WI,RentLingo,Low Rent
8998,1.0,2.0,489,33.9883,-118.0875,Pico Rivera,CA,RentDigs.com,Medium-Priced Rent
8999,2.0,2.0,1066,34.1640,-118.4984,Encino,CA,RentLingo,High Rent

In [56]:
X = df.drop(columns=['RentCategory'])
y = df['RentCategory']

In [57]:
with open(r"C:\Users\HP\Desktop\ml project ms2\most_frequent_values (1).pkl", 'rb') as file:
    most_frequent_values = pickle.load(file)
for col in X.columns:
   
    X[col].fillna(most_frequent_values[col], inplace=True)

1.0
1.0
1778
30.3054
-97.7497
Austin
TX
RentLingo

In [58]:
columns_to_check = ['bathrooms','bedrooms']
for col in columns_to_check:
    # Convert floating-point numbers to integers, effectively removing the decimal part
    X[col] = X[col].apply(lambda x: int(x) if pd.notnull(x) else None)
    X[col].astype(int)

In [59]:

# Assuming you have the list of columns (col_names) for which you saved encoders

with open(r"C:\Users\HP\Desktop\ml project ms2\cityname_encoder (1).pkl", 'rb') as f:
    cityname_encoder = pickle.load(f)

# Transform the 'cityname' column using the loaded encoder
X['cityname'] = cityname_encoder.transform(X[['cityname']])

In [60]:
with open(r"C:\Users\HP\Desktop\ml project ms2\state_encoder (1).pkl", 'rb') as f:
    state_encoder = pickle.load(f)

# Transform the 'cityname' column using the loaded encoder
X['state'] = state_encoder.transform(X[['state']])

In [61]:
with open(r"C:\Users\HP\Desktop\ml project ms2\source_encoder (1).pkl", 'rb') as f:
    source_encoder = pickle.load(f)

# Transform the 'cityname' column using the loaded encoder
X['source'] = source_encoder.transform(X[['source']])

In [62]:
with open(r"C:\Users\HP\Desktop\ml project ms2\label_encoder (1).pkl", 'rb') as f:
    label_encoder = pickle.load(f)

In [63]:
y=label_encoder.transform(y)

In [64]:
with open(r"C:\Users\HP\Desktop\ml project ms2\scaler.pkl", 'rb') as f:
    scaler = pickle.load(f)
    X_scaled=scaler.transform(X)

In [65]:
X_scaled

array([[ 1.24005151,  0.40560836, -0.2724858 , ..., -1.06784037,
         0.0067432 , -0.52449086],
       [-0.63211684, -0.87022397, -0.28571788, ...,  0.1850688 ,
         1.40918072,  0.42362217],
       [-0.63211684, -0.87022397, -0.90762598, ..., -0.47037664,
        -1.12856336,  0.42362217],
       ...,
       [-0.63211684,  0.40560836, -0.15604343, ..., -0.5485259 ,
         1.40918072,  0.42362217],
       [-0.63211684,  0.40560836, -1.09552162, ...,  0.82034669,
        -1.46247705, -0.52449086],
       [ 1.24005151,  0.40560836,  0.43146124, ..., -0.62667517,
        -1.46247705,  0.42362217]])

In [66]:
with open(r"C:\Users\HP\Desktop\ml project ms2\best_svm_model (1).pkl", 'rb') as f:
    best_svm_model = pickle.load(f)

In [67]:
predicted= best_svm_model.predict(X_scaled)

In [68]:
test_accuracy = accuracy_score(y, predicted)
print("Testing Accuracy:", test_accuracy)

Testing Accuracy: 0.7601111111111111

In [69]:
with open(r"C:\Users\HP\Desktop\ml project ms2\best_knn_model (2).pkl", 'rb') as f:
    best_knn_model = pickle.load(f)

In [70]:
predicteds= best_knn_model.predict(X_scaled)
test_accuracys = accuracy_score(y, predicteds)
print("Testing Accuracy:", test_accuracys)

Testing Accuracy: 0.78

In [71]:
with open(r"C:\Users\HP\Desktop\ml project ms2\best_xgb_model (1).pkl", 'rb') as f:
    best_xgb_model = pickle.load(f)

In [72]:
predictedse= best_xgb_model.predict(X_scaled)
test_accuracyse = accuracy_score(y, predictedse)
print("Testing Accuracy:", test_accuracyse)

Testing Accuracy: 0.8214444444444444